<div class="card">
  <div class="card-body d-flex">
    <div class="md-form mt-0">
      <label style="display: inline" >Search:</label>
      <input class="form-control" type="text" placeholder="Search" aria-label="Search"  [(ngModel)]="searchField" (ngModelChange)="search($event)">
    </div>
  <span class="form-group col-md-3" style="display: inline">
    <label style="display: inline" >Category:</label>
    <select style="display: inline" class="form-control" [(ngModel)]="searchCategory" (ngModelChange)="searchByCategory($event)">
          <option  value="none">None</option>
          <option  value="autobiography">Autobigraphy</option>
          <option  value="adventure">Adventure</option>
          <option  value="romance">Romance</option>
          <option  value="mystery">Mystery</option>
          <option  value="horror">Horror</option>
          <option  value="thriller">Thriller</option>
          <option  value="fiction">Fiction</option>
          <option  value="memoir">Memoir</option>
          <option  value="art">Art</option>
          <option  value="motivational">Motivational</option>
          <option  value="health">Health</option>
          <option  value="history">History</option>
          <option  value="educational">Educational</option>
          <option  value="travel">Travel</option>
          <option  value="humour">Humour</option>
          <option  value="child">Children's</option>
    </select>
  </span>
  </div>
</div> <!-- card.// -->


  <div *ngIf="dashBoardBookArray?.length>0">
    <div class="row overflow-auto" style="height: 600px;">
    <div *ngFor="let data of dashBoardBookArray">
      <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 20rem; height: 20rem;">
          <img *ngIf="data.image "class="card-img-top" src="data:image/jpg;base64,{{data.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{data.title}}</h5>
            <p class="card-text">{{data.author}}</p>
            <p class="card-text">{{data.category}}</p>
            <p class="card-text">{{data.isbn}}</p>
            <button class="btn btn-primary btn-block" (click)="redirectToBook(data.isbn)">Get Details</button>
          </div>
        </div>
      </div> <!-- col.// -->
    </div>
  </div>
</div><!-- row.// -->
