
<div class="container">
    <div class="row justify-content-between">
          <div class="col-8">
              <div class="card">
                <h5 class="card-header">Enter Your Details:</h5>
                    <div class="container">
                      <form>
                        <div class="form-row">
                        <div class="form-group col-md-4">
                          <label >Email address</label>
                          <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="forgotPasswordDto.email" required #email="ngModel" email>
                          <div [hidden]="email.valid"
                                  class="alert alert-danger">
                                Valid email is required
                          </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label >Question</label>
                        <select  class="form-control" [(ngModel)]="forgotPasswordDto.question" required name="question" #question="ngModel">
                          <option  value="pet">What Is Your Pet Name?</option>
                          <option  value="car">What Is Your Car Name?</option>
                          <option  value="sport">Which Sport Do You Like?</option>
                      </select>
                      <div [hidden]="question.valid" class="alert alert-danger">
                        Select Question
                      </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label >Answer</label>
                        <input type="text" class="form-control"  placeholder="Enter Answer" name="answer" [(ngModel)]="forgotPasswordDto.answer" required #answer="ngModel">
                        <div [hidden]="answer.valid" class="alert alert-danger">
                          Answer Required
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label >Enter New Password</label>
                        <input type="password" class="form-control"   placeholder="Enter password" name="password" [(ngModel)]="forgotPasswordDto.password" required #password="ngModel" minlength="6"  maxlength="8">
                        <div [hidden]="password.valid" class="alert alert-danger">
                          Password need 6 char
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label >Confirm Password</label>
                        <input type="password" class="form-control"   placeholder="Confirm password" name="confirmPassword" [(ngModel)]="confirmPasswordText" required #confirmPassword="ngModel" minlength="6"  maxlength="8">
                        <div [hidden]="confirmPassword.valid && confirmPassword.value==password.value" class="alert alert-danger">
                          Passwords do not match
                        </div>
                      </div>
                    </div>

                        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
                        <button type="submit" *ngIf="password.valid && email.valid && confirmPassword.valid && question.valid && answer.valid && password.value==confirmPassword.value" class="btn btn-primary float-right" (click)="forgotpassword()">Submit</button>
                      </form>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            