
<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-6 overflow-auto" style="height: 600px;">
        <h4>My orders</h4>
        <table class="table">
          <thead class="thead-dark">
              <tr>
                <th *ngFor="let head of orderHeadElements">{{head}}</th>
              </tr>
            </thead>
            <tbody *ngIf="orderParentOrder.length>0">
                <tr *ngFor="let or of orderParentOrder" id="{{or.orders.orderID}}">
                  <td>{{or.orders.orderID}}</td>
                  <td>{{or.orders.orderDate}}</td>
                  <td>{{or.orders.paymentType}}</td>
                  <td>${{or.orders.total}}</td>
                  <td>
                  <table>
                      <tr *ngFor="let ord of or.orderDetails">
                        <a class="title">Title: {{ord?.title}}</a>
                        <p class="title">Author: {{ord?.author}}</p>
                        <p class="title"><small class="text-muted">ISBN: {{ord?.isbn}}</small></p>
                        <p class="title"><small class="text-muted">Category: {{ord?.category}}</small></p>
                        <p class="title"><small class="text-muted">Price: ${{ord?.price}}</small></p>
                        <p class="title"><small class="text-muted">Seller: {{ord?.seller}}</small></p>
                        <a class="img-wrap"><img *ngIf="ord?.image"class="card-img-top" src="data:image/jpg;base64,{{ord.image}}" alt="Card image cap"></a>
                        <hr>
                       </tr>
                  </table>
                  </td>
                <td><button class="btn btn-sm btn-success" (click)="generateInvoice(or.orders.orderID)">Invoice</button></td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6 overflow-auto" style="height: 600px;">
          <h4>My Sales</h4>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th *ngFor="let head of salesHeadElements">{{head}} </th>
              </tr>
            </thead>
            <tbody *ngFor="let or of orderParentSales">

                  <tr *ngFor="let ord of or.orderDetails">
                    <td>{{ord?.isbn}}</td>
                    <td>{{or.orders.orderDate}}</td>
                    <td>{{ord?.buyer}}</td>
                    <td>{{or.orders.paymentType}}</td>
                    <td>${{or.orders.total}}</td>
                  </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


